:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: #f4f4f4;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hero {
  background-color: #5e5e5e;
  text-align: center;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
}

.hero-text {
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: #e9e9e9;
}

.hero-btn {
  background-color: var(--accent-color);
  border-radius: 5px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  color: var(--secondary-text-color);
  border: none;

  padding: 10px 30px 10px 41px;
}
