:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: #f4f4f4;
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  background-color: #333333;
}
.header .container {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.accent {
  color: var(--accent-color);
}
.header-logo-img {
  margin-right: 10px;
}

.header-logo {
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-link {
  display: block;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}
/* hero */

.hero {
  padding-top: 259px;
  padding-bottom: 284px;
  background-color: #5e5e5e;
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
}

.hero-text {
  margin-bottom: 29px;
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: #e9e9e9;
}

.hero-btn {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 5px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  color: var(--secondary-text-color);
  border: none;

  padding: 10px 30px 10px 41px;
}

.hero-btn:hover,
.hero-btn:focus {
  opacity: 0.8;
}

/* ABOUT */

.about {
  padding-top: 122px;
  padding-bottom: 19px;
}

.about .container {
  padding-left: 66px;
  padding-right: 66px;
}

.about-list {
  display: flex;
  align-items: center;
  gap: 71px;
}

.about-item {
  flex-basis: calc((100% - 142px) / 3);
}

.about-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.about-text {
  line-height: 1.56;
  text-align: center;
}

.footer {
  background-color: var(--primary-text-color);
}

.social-icon {
  fill: var(--secondary-text-color);
}

.social-link {
  display: inline-block;
  height: 0;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--accent-color);
}
