<section class="business-cases">
  <div class="container">
    <p class="section-suptitle section-suptitle-dark">This is what we do</p>
    <h2 class="section-title section-title-dark">Business Cases</h2>
    <p class="section-text section-text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases-list list">
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-1.jpg"
          alt="Square-table conference"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-2.jpg"
          alt="Notebook, pen and charts"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-3.jpg"
          alt="Handshaking"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-4.jpg"
          alt="Six hands together"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-5.jpg"
          alt="Laptop and a hand"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-6.jpg"
          alt="Skyscrapers"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-7.jpg"
          alt="A girl in front and some people behind"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/business-cases/bc-8.jpg"
          alt="Co-working"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
