<header class="header">
  <div class="container">
    <a href="" class="header-logo link">
      <img class="header-logo-img" src="./images/logos/logo.svg" alt="logo" />
      <span class="accent">Finance</span> Ledger
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Cases</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
